button.submit,
a.submit {
    background-image: url(../img/button-right.gif);
    -ie-xp: expression(
              this.parsed ? 0 :(
                this.onmouseover = new Function("this.className += ' submit-hover'"),
                this.onmouseout = new Function("this.className = this.className.replace(' submit-hover','')"),
              this.parsed = 1)
            );
    overflow: visible;
}

a.submit {
    overflow: hidden;
}

button.submit div,
a.submit span {
    background-image: url(../img/button-left.gif);
    float: left;
}

button.submit div {
    float: none;
}

button.submit-hover {
    background-position: right -25px;
    cursor: pointer;
}

button.submit-hover div {
    background-position: left -25px;
}

ul li {
    -ie-xp: expression(
        this.parsed ? 0 : (
            this.className += ((this == this.parentNode.firstChild) ? " first-child" :""),
            this.className += ((this == this.parentNode.lastChild) ? " last-child" :""),
            this.parsed = 1
        )
    );
}

ul.breadcrumbs li {
    -ie-xp: expression(
        this.parsed ? 0 : (
            this == this.parentNode.firstChild ? 0 : this.innerHTML = " \00bb  " + this.innerHTML,
            this.parsed = 1
        )
    )
}

ul.pipes li {
    -ie-xp: expression(
        this.parsed ? 0 : (
            this == this.parentNode.firstChild ? 0 : this.innerHTML = " | " + this.innerHTML,
            this.parsed = 1
        )
    )
}

#top #logo,
#top #logo a {
    background-image: none;
}

#top #logo a {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/img/logo.png",sizingMethod="crop");
}

#tabs {
    -ie-xp: expression(
        this.parsed ? 0 : (
            lis = this.getElementsByTagName('li'),
            w = 0,
            w += (lis.length > 0 ? lis[0].offsetWidth : 0),
            w += (lis.length > 1 ? lis[1].offsetWidth : 0),
            w += (lis.length > 2 ? lis[2].offsetWidth : 0),
            w += (lis.length > 3 ? lis[3].offsetWidth : 0),
            w += (lis.length > 4 ? lis[4].offsetWidth : 0),
            w += (lis.length > 5 ? lis[5].offsetWidth : 0),
            w += (lis.length > 6 ? lis[6].offsetWidth : 0),
            w += (lis.length > 7 ? lis[7].offsetWidth : 0),
            w += (lis.length > 8 ? lis[8].offsetWidth : 0),
            w += (lis.length > 9 ? lis[9].offsetWidth : 0),
            this.style.width = w.toString() + 'px',
            this.parsed = 1
        )
    );
    width: 980px !important;
}

#tabs li a {
    background-image: url(../img/tabs.gif);
    float: left;
}

#footer a.gsk {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/img/gsk.png",sizingMethod="crop");
}

#popup {
    _background-image: url(../img/popup-top.gif);
}

#popup div.content {
    _background-image: url(../img/popup-bottom.gif);
}

#popup div.content div.body {
    _background-image: url(../img/popup-bg.gif);
}

#content div.mbox {
    _margin-left: 18px;
}

#content div.mbox-first {
    _margin-left: 0;
}

#content div.mbox input.autocomplete {
    position: relative;
    left: -22px;
}

#content ul.calendarium dl.address dd {
    float: none;
}

#content cite.ref,
#content cite.ref span,
#content cite.ref strong {
    zoom: 1;
    position: relative;
}